@import "tailwindcss";
@plugin "daisyui";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');



@plugin "daisyui" {
  themes: dark --default, light --prefersdark, dracula;
}

@theme{
  --main-font:"Oswald", sans-serif;
  --second-font:"Quattrocento", serif;
}


.loading {
  position: absolute;
  top: 40%; 
  left: calc(50% - 25px); 
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #00a896; 
  border-radius: 50%; 
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 425px) {
  .index-column {
    display: none;
  }
}