*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 80vh;
    background-color: beige;
    display: flex;
    justify-content: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background-color: white;
    margin-top: 20px;
    width: 800px;
    height: 50vh; /* This is the magic line! */
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.heading{
    font-size: 3rem;
    padding: 30px 0;
    font-weight: bolder;
}
input{
    width: 50%;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 1rem;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;

}

.main-heading{
    font-size: 2rem;
    padding: 20px 0 30px 0;
    font-weight: bold;
}