*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: url("https://plus.unsplash.com/premium_photo-1673603988651-99f79e4ae7d3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container .heading{
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: white;
    font-family: serif;
    font-weight: lighter;
    font-size: 30px;
}
.time{
    display: flex;
    /* flex-direction: column; */
}
.time h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    font-size: 50px;
    /* padding: 20px; */
    background-color:rgba(242, 102 ,81 ,.5);
}
.hour, .mint, .second{
    width: 120px;
    margin-right: 10px;
    text-align: center;
}
.mid-day{
    position: relative;
}
.mid-day h2{
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 0;

    color: white;
    background-color: black;
}
.time p{
    background-color: rgba(242, 102 ,81 ,1  );
    padding: 10px 20px;
    color: white;
}