@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* nav,
section,
footer,
#home,
#login,
#catalog {
  position: relative;
  overflow: hidden;
} */

:root {
  --blue: rgb(31, 136, 235);

  --body-font: "Poppins", sans-serif;
  --title-font: "Titan One", cursive;
  --subtitle-font: "Dancing Script", cursive;
  --body-color: lightpink;
}
body {
  position: relative;
  font-family: var(--body-font);
  background-color: var(--body-color);
}
nav {
  width: 100%;
  position: fixed;
  z-index: 10;

  background-color: black;
}
nav .navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 10px;
}
nav .navbar .logo {
  display: flex;
  position: relative;
  align-items: center;
  width: 40px;

  img {
    left: -100%;
    top: 0;
    position: absolute;
    width: 40px;
    height: auto;

    @media screen and (max-width: 768px) {
      display: none !important;
    }
  }
}
nav .navbar ul {
  display: flex;
  justify-content: center;
}
nav .navbar ul li {
  list-style: none;
}
nav .navbar ul li a {
  text-decoration: none;
  font-size: 1rem;

  color: white;
  margin-left: 40px;
  /* font-weight: bold !important; */
}
nav .navbar ul li a:hover {
  transition: all 0.5s;
  color: red;
}
.home {
  width: 100%;
  background-image: url("media/blackmyth2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 40rem;
  background-color: black;
}

/* home */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home h1 {
  color: white;
  font-family: var(--title-font);
  font-size: 3rem;

  font-weight: 100;
  text-align: center;

  text-shadow: 5px 5px 5px black;
  letter-spacing: 5px;

  /* opacity: .5; */
}
.home h1 span {
  /* font-weight: normal; */
  font-family: var(--title-font);
  letter-spacing: 10px;
  /* font-weight: bolder; */
  color: red;
  font-size: 7rem;
  opacity: 1;
  text-shadow: 5px 5px 10px black;
  stroke: var(--blue);
  stroke-width: 0.1rem;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: var(--blue);
}

/* login */
.login {
  height: 40rem;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;

  position: relative;

  svg:first-of-type {
    position: absolute;
    top: 0;
    transform: translateY(-60%);
  }
  svg:last-of-type {
    position: absolute;
    bottom: 0;
    transform: translateY(90%);
  }
}
.login img {
  width: 50%;
  height: auto;
}
.login .login-page {
  width: 50%;
  background-color: #000103;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login .container {
  width: 70%;

  padding: 30px 30px;
  /* border: 2px solid black; */
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.1),
    -5px -5px 5px rgba(255, 255, 255, 0.5);
  /* box-shadow: -5px -5px 5px 5px rgba(255, 255, 255, .8); */
}
.login-page h1 {
  font-size: 3rem;
  font-family: var(--title-font);
  font-weight: normal;
  /* margin-bottom: .5rem; */
  color: rgb(31, 136, 235);
}
.login-page p {
  margin-bottom: 1.5rem;
}
.login-page h3 {
  font-weight: lighter;
  font-size: medium;
}
.login-page input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  margin-bottom: 1rem;
}
.login-page button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(31, 136, 235);
  color: white;
  cursor: pointer;
}

.login-page form p {
  color: red;
}

/* responsiveness */

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: center;
    background-position: center;

    h1 {
      font-size: 2rem;

      span {
        font-size: 4rem;
      }
    }
  }
  .login {
    height: 70vh;
  }
  .login img {
    display: none;
    width: 0;
    overflow: hidden;
  }
  .login .login-page {
    width: 100%;

    .container {
      width: 90%;
      padding: 1rem 0.8rem;
    }
  }

  nav {
    width: 100%;
  }
  nav .navbar ul li a {
    padding-left: 10px;
    margin: 0;
    font-size: 0.8rem;
  }
  nav .navbar {
    justify-content: space-between;
    margin: 0;
    padding-inline: 1rem;
  }
}

/* CATALOG */
#catalogheading {
  margin-top: 3rem;
  text-align: center;
  font-size: 4rem;
  font-family: var(--title-font);
  font-weight: bolder;
  /* background-color: var(--body-color); */
  color: white;
  /* text-shadow: 0 2px 10px white; */
  padding: 2rem;
  letter-spacing: 5px;

  color: var(--blue);
}
.catalog {
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.cards {
  display: flex;
  width: 80%;
  /* min-width: 768px; */
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;
}
.cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 30%;
  padding: 1.5rem;
  background-color: black;

  margin-bottom: 1rem;
  /* border-radius: 20px; */
}
.cards .card:hover {
  transition: all 0.5s;
  box-shadow: 0 3px 8px white;
  overflow: hidden;
  img {
    transform: scale(140%);
    transition: all 0.5s;
  }
}
button:hover {
  transition: all 0.5s;
  box-shadow: 0 3px 8px white;
}
.card img {
  width: 100%;
  /* height: 200px; */
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.card h1 {
  font-family: var(--subtitle-font);
  color: white;
  letter-spacing: 2px;
  /* text-shadow: 1px 1px 2px white; */
  font-weight: bolder;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  text-align: center;
}
.card button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(31, 136, 235);
  border: none;
  cursor: pointer;
  color: white;
}

.info {
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  min-width: 250px;

  padding: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: white;

  text-align: center;
}
.info h1 {
  color: red;
}
.info p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: blue;

  margin: 1rem 0;
}
.info button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: red;
  border: none;
  cursor: pointer;
  color: white;
}

.hide {
  display: none;
}

/* mq */
@media (max-width: 768px) {
  /* changing the bg image  */
  .home {
    background-image: url("media/Shadow\ Slave.jfif");
    background-position: center;
  }
  #catalogheading {
    font-size: 2rem;
  }
  .cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .cards .card {
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    width: 45%;
    padding: 0.5rem;
  }
  .cards .card h1 {
    font-size: 1rem;
  }

  .info {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .cards {
    flex-direction: column;

    width: 80%;
  }
  .cards .card {
    width: 100%;
  }
  .cards .card h1 {
    font-size: 1.5rem;
  }
  .cards .card img {
    width: 100%;
  }
}

/* reviews */
.reviews {
  margin-top: 13rem;
  position: relative;
  background-color: black;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;

  .title {
    position: absolute;
    border-bottom: 0.1rem solid white;

    top: -6rem;
    text-align: center;
    color: red;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: var(--title-font);
    font-weight: lighter;

    font-size: 5rem;

    /* transform: translate(-50%,-50%); */
  }

  .img-container {
    width: 50%;
    /* overflow: hidden ; */
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover; /* Ensures the image covers the entire container */

      box-shadow: 2px 2px 5px white;
    }
  }
  .info-container {
    width: 50%;
    color: white;
    margin: 5rem 0;

    &.one {
      border-left: 0.1rem solid white;
      padding-left: 1rem;
    }

    &.two {
      padding-left: 9rem;
      border-right: 0.1rem solid white;

      p {
        width: 100%;
      }
    }
    h1 {
      font-size: 3rem;
      padding-bottom: 1rem;
      color: var(--blue);
    }
    p {
      width: 70%;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .stars {
      font-size: 2rem;
      color: red;
    }
  }

  svg:first-of-type {
    position: absolute;
    z-index: -1;
    top: 0;
    transform: translateY(-100%);
  }
  svg:last-of-type {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
  }
}

@media (max-width: 768px) {
  .reviews {
    flex-direction: column;

    .title {
      font-size: 4rem;
      top: -2rem;
    }

    .info-container {
      width: 90%;
      text-align: center;
      align-content: center;
      margin: 1rem;

      h1 {
        line-height: 2.5rem;
        font-size: 2rem;
      }
      .stars {
        font-size: 1rem;
      }

      &.one {
        border-left: none;
        padding-left: 0;

        p {
          width: 80%;
          margin: 0 auto;
        }
      }
      &.two {
        padding-left: 0;
        border-right: none;
        order: 4 !important;
        p {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    .img-container {
      width: 80%;
      margin-top: 5rem;

      img {
        width: 200px;
        height: 200px;
      }

      &.two {
        order: 3 !important;
      }
    }
  }
}

/* footer  */
footer {
  margin-top: 15rem;

  .footer__content {
    max-width: 1024px;
    margin-inline: auto;
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    div {
      .footer__title {
        margin-bottom: 1rem;
      }
      .footer__links {
        li {
          list-style: none;
        }
        a {
          color: var(--blue);
          text-decoration: none;

          i {
            font-size: 2rem;
            margin-left: 0.25rem;
          }

          &:hover {
            color: red;
            i {
              color: red;
            }
          }
        }
      }
    }
  }

  .footer__copy {
    margin-top: 3rem;
    text-align: center;
    margin-inline: auto;
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 5rem;
    .footer__content {
      margin: 0;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      row-gap: 2rem;

      text-align: center;
    }
  }
}
